<p> This user has <%= co_authors.length %> coauthors.
<table class="table">
	<thead>
		<tr>
			<th>Image</th>
			<th>Name</th>
			<th>Common Publications</th>
		</tr>
	</thead>

<tbody>
<% co_authors.forEach(function(auth) { %>
	<tr>
		<td> 
				<!-- loop badge -->
				<div class="loop-embedded-badge" data-badge-type="profile" 
					data-user-id="<%= auth.userId %>" >
				</div>
		</td>
		<td>
			<a href="/users/<%= auth.userId %>" >
				<%= auth.firstName %> <%= auth.middleName %> <%= auth.lastName %>
			</a>
		</td> <td>
			<%= auth.numberOfCommonPublications %>
		</td>
	</tr>
<% }); %>

</tbody>

</table>



