<!DOCTYPE html>
<html>
  <head>
		<% include ../partials/head %>
		<% if (autopilot) { %>
			<meta http-equiv="refresh" content="10;url=/users/table/<%= nextPage %>/auto">
		<% } %>
  </head>
  <body class="container-fluid">
		<header>
			<% include ../partials/navbar %>
		</header>

		<div class"row">
			<div class="col-sm-2">
				<!-- sidebar left -->
				<p>Page begins with <%= users[0].userId %> </p>
        <button type="button" class="btn btn-default" onclick="window.location.href='/users/table/<%= prevPage %>'" >Previous Page</button>
				<br>
        <button type="button" class="btn btn-primary" onclick="window.location.href='/users/table/<%= nextPage %>'" >Next Page</button> 
				<br>
        <button type="button" class="btn btn-default" 
								onclick="window.location.href='/users/table/<%= nextPage %>/auto'" >Autopilot </button> 
				<br>
			</div>

			<div class="col-sm-10">
				<!-- main column -->
          <% users.forEach(function(user, index) { %>
              <% if (user.status === 'ok-with-pic') { %> <a href="/users/<%= user.userId %>"><img src="<%= user.ProfilePicture %>"></img></a><% } %> 
          <% }); %>
      </div>

		</div>

		<% include ../partials/bottom %>
  </body>
</html>
