<!DOCTYPE html>
<html>
  <head>
		<% include ../partials/head %>

	<!-- loop badge script -->
  <script>
     	(function(w, d, t, s) {
     		var a = d.createElement(t),
     	    	m = d.getElementsByTagName(t)[0];
     		a.async = 1;
     		a.type = 'text/javascript';
     		a.src = s;
     		m.parentNode.insertBefore(a, m)
     	})(window, document, 'script', '//loop.frontiersin.org/social/badgescript');
  </script>

  </head>
  <body class="container-fluid">
		<header>
			<% include ../partials/navbar %>
		</header>

		<div class"row">
			<div class="col-sm-3">
				<!-- sidebar left -->
				<p>User <%= user.UserId %> </p>
				<p><%= user.FirstName %> <%= user.LastName %> </p>
				<img src=<%= user.ProfilePicture %> />
			</div>

			<div class="col-sm-6">

				<!-- loop badge -->
				<div class="loop-embedded-badge" data-badge-type="profile" 
					data-user-id=”<%= user.UserId %>”>
				</div>
				<!-- main column -->
				<% include ../partials/usertable %>
				<% include ../partials/coauthortable %>
      </div>

			<div class="col-sm-3">
        <% include ../partials/adsidebar %>
			</div>
		</div>

		<% include ../partials/bottom %>
  </body>
</html>
